@*@model IEnumerable<DeepMusic.Models.Albums>*@
@model IEnumerable<DeepMusic.DTO.AlbumsDTO>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumCoverPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Track)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumCoverPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Album_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Album_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Album_ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
