@*@model DeepMusic.Models.Artist*@
@model DeepMusic.DTO.ArtistDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Album)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumCoverPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlbumCoverPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Artist_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
